node_modules/
.env
.env.local
.env.*.local
.DS_Store
Thumbs.db
npm-debug.log*
yarn-error.log
yarn-debug.log*
logs/
*.log
coverage/
dist/
build/
.cache/
public/uploads/
tmp/
*.tgz
.idea/
.vscode/
/.parcel-cache/
/.next/
/.nuxt/
/.sass-cache/
